@import '../../../styles/base/variables';

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    position: relative;
}

.checkbox__label {
    color: $secondary-text-color;
    font-feature-settings: 'dlig' on, 'salt' on;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.checkbox__input {
    width: 24px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 8%;
        height: 24px;
        width: 24px;
        transform: translate(-50%, -50%);
        background-color: $background-color;
        border: 1px solid $border-input-color;
        border-radius: 3px;
        cursor: pointer;
      }

      &:checked::after {
        content: url(./image/checkbox.svg);
        position: absolute;
        top: 50%;
        left: 8%;
        height: 24px;
        width: 24px;
        transform: translate(-50%, -50%);
        background-color: $background-color-checked;
        border: 1px solid $background-color-checked;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
