@import './base/reset';
@import './base/variables';
@import './base/fonts';

body {
    font-family: 'Lexend', sans-serif;
    background-color: $background-color;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}