@import '../../../styles/base/variables';

.button {

    &__colorfull {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: $button-background-color;
    }
    
    &__text {
        color: $background-color;
        padding: 16px 0px;
        font-feature-settings: 'salt' on;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.32px;
        width: 100%;
    }
}
