@import '../../../styles/base/variables';


.link {
    &__colorfull {
        display: flex;
        width: 100%;
        padding: 16px 0px;
        justify-content: center;
        align-items: center;
        background-color: $button-background-color;
        color: $background-color;
        font-feature-settings: 'salt' on;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: -0.32px;
        text-align: center;
    }

    &__general {
        display: flex;
        width: 100%;
        padding: 16px 0px;
        justify-content: center;
        align-items: center;
        color: $button-text-color;
        font-feature-settings: 'salt' on;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.32px;
        text-align: center;
    }
}
