@import '../../../styles/base/variables';

.input {
    width: 100%;
    padding: 12px 40px 12px 16px;
    border: 1px solid $border-input-color;
    background: $background-color;
    color: $main-text-color;
    font-feature-settings: 'salt' on;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    &__wrapper {
        position: relative;
        display: inline-flex;
        margin-top: 4px;
        width: 100%;
    }

    &__image {
        position: absolute;
        right: 10px;
        top: 12px;
        max-width: 25px;

        &__error {
            width: 100%;
            height: 100%;
        }
    }

    &__label {
        color: $secondary-text-color;
        font-feature-settings: 'salt' on;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; 
        word-wrap: break-word;
    }

    &::placeholder {
        color: $placeholder-text-color;
        font-feature-settings: 'salt' on;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    &:focus {
    border: 1px solid $main-text-color; 
  }
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.active {
    border: 1px solid $main-text-color; 
}

.error__message {
    color: $error-color;
    font-size: 12px;
    margin-top: 5px;
}
