@import '../../../styles/base/extends';

.form {
    @extend %form-wrapper;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}