@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/extends';

.wrapper {
    @extend %wrapper;
}

.title {
    @extend %form-title;
}

.help__text {
    @include help-text;
}