@import './variables';

%form-title {
    color: $main-text-color;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    margin: 44px 0 32px;
    word-wrap: break-word;
    max-width: 376px
}

%wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 376px;

    @media screen and (max-width: 430px) {
        max-width: 300px;
        padding: 0 10px;
    }
} 

%form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
    
    @media screen and (max-width: 430px) {
        max-width: 300px;
        padding: 0 10px;
    }
}