@import './variables';

@mixin help-text($text-align: center) {
    color: $secondary-text-color;
    font-feature-settings: 'salt' on;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;
    text-align: $text-align;
}