$main-text-color: rgb(0, 0, 0);

$border-input-color: rgb(202, 210, 214);

$placeholder-text-color: rgb(144, 159, 169);

$secondary-text-color: rgb(80, 94, 104);

$background-color: rgb(255,255,255);

$button-text-color: rgb(44, 52, 58);

$button-background-color: rgb(113, 1, 225);

$background-color-checked: rgb(1, 1, 225);

$error-color: #cc1d1d;

